* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 5%;
    background-color: #24262b;
    justify-content: space-between;
    
    
  }
  .head-mobile{
    display:none;
  }
  .search-mobile{
    display: none;
  }
  .logo {
    cursor: pointer;
    color:white;
    text-decoration: none;
    width: 65px;
    height: 65px;
  }
  
  .nav__links a,
  .logo,
  
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 1;
    color: #f1f1f1;
    text-decoration: none;
  }

  .link{
    width: 20%;
    display: flex;
  }

  .head .logo {
    display: flex;
    align-items:center;
    
  }
  
  .head .logo h1 {
    margin: 5px;
  }
  
  header form {
    margin: 0 20px;
    display: flex;
    width: 100%;
  }
  
  header input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  header button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: gray;
    color: white;
    cursor: pointer;
  }
  
  header button[type="submit"]:hover {
    background-color: darkgray;
  }

  .menu {
    position: relative;
  }
  
  .menu-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .menu-list {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -30px;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .menu-list li {
    margin: 0;
  }
  
  .menu-list li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .menu-list li a:hover {
    background-color: #ddd;
  }
  
  .menu:hover .menu-list {
    display: block;
    opacity: 1;
  }
  .body{
    height: 1000px;
  }
  .pos1{
    position: fixed;
    width: 100%;
  }
  button{
    border: none;
    border-radius: 50%; 
    padding: 1px;
  }
  button:hover {
    cursor: pointer;
  }

  /* footer */

  .footer{
    background-color: #24262b;
      position: flex;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 30px 5%;
      width: 100%;
      justify-content: space-between;
  }
  
  .logo{
      color: white;
  }

    /* navigation */
  nav{
      background-color: #24262b;
      display: flex;
      justify-content: space-around;
      height: 30px;
  }  
  .nav__links {
      list-style: none;
      display: flex;
    }  
  
  .nav__links li {
      padding: 0px 20px;
    }
    
  .nav__links li a {
      transition: color 0.3s ease 0s;
    }

    /* mobile */

    @media screen and (min-width: 200px) and (max-width: 768px) { /* 390px ширина 12Pro*/ 
      
      .head{
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        
      }
      .head-mobile{
        padding: 25px 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .btns{
        display: flex;
        
      }
      .pos1 {
        position: static;
      }
      
      .nav__links{
        position: absolute;
        width: 100%;
        left: 0px;
        overflow-x: scroll;
        /* justify-content: space-around; */
      }
      
      .nav__links::-webkit-scrollbar{
        user-select: all;
        height: 0px;
      }
      
      .body{
        height: 1000px;
      }

      .footer{
        background-color: #ffb300;
        font-size: 14px;
        position: flex;
        bottom: 0;
        display: flex;
        align-items: flex-start;
        padding: 0px 5%;
        width: 100%;
        height: 220px;
        justify-content: space-betweensa;
      }
      .footer nav{
        width: 50%;
      }
      .footer .logo{
        width: 50%;
        font-size: 26px;
      }
      .footer .nav__links{
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-end;
      }
      .footer .nav__links li{
        color: #ffb300;
        height: 35px;
        width: 50%;
      }
      form {
        margin: 0px;
      }

      .search-mobile{
        display: flex;
        width: 100%;
      }
      .search-mobile input[type="text"] {
        width: 82%;
        background-color: white;
        padding: 5px;
        border-color: darkgray;
        border-radius:10px 0 0 10px;
      }
      
      .search-mobile button[type="submit"] {
        width: 17%;
        padding: 5px;
        border-color: #24262b;
        border-radius: 0 10px 10px 0;
        background-color:darkgray;
        color: rgb(0, 0, 0);
        cursor: pointer;
      }
      .head-mobile .logo-btn{
        background-color: #24262b;
      }
      @media screen and (min-width: 560px) and (max-width: 768px){
        .nav__links{
          justify-content: space-around;
        }
      }
    }

  
  
  
  
  
  
  
  
  